asgiref==3.2.10
certifi==2025.4.26
charset-normalizer==3.4.2
Django==3.1
django-admin-honeypot==1.1.0
django-admin-thumbnails==0.2.9
django-session-timeout==0.1.0
idna==3.10
Pillow==9.5.0
python-decouple==3.8
pytz==2024.2
requests==2.32.3
six==1.17.0
sqlparse==0.4.4
thumbnail==1.5
urllib3==2.3.0
